body {
	font-family: 'Roboto', sans-serif;
	background-color: #dcdfe3;
}

h1 {
	color: purple;
}

h2, p, .readme-wrapper {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
	color: white;
}

ul {
	color: red;
}

.boxes {
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	border-radius: 10px;
	width: 30em;
}

.show-image {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: white;
	position: absolute;
	left: 7em;
}

.original {
	color: blue;
}

.list-style {
	border: 2px solid;
}

.star {
	color: green;
}

#box1 {
	background-color: pink;
}

#box2 {
	background-color: lightskyblue;
}

#box3 {
	background-color: lightcoral;
}

#box4 {
	background-color: lightseagreen;
}

#show1 {
	color: black;
}

#show2 {
	color: green;
}

#show3 {
	color: slateblue;
}

#show4 {
	color: magenta;
}

#show5 {
	color: blue;
}

#wars {
	color: royalblue;
}

