body {
	font-family: 'Roboto', sans-serif;
	background-color: #dcdfe3;
}

h2, p, .readme-wrapper {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
	color: white;
}

.boxes {
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	border-radius: 10px;
	width: 30em;
}

.show-image {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: white;
	position: absolute;
	left: 7em;
}

#box1 {
	background-color: pink;
}

#box2 {
	background-color: lightskyblue;
}

#box3 {
	background-color: lightcoral;
}

#box4 {
	background-color: lightseagreen;
}